body {
    font-size: 22px;
}
#map {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    /*background-color: gray;*/
}
.petProfile {
    margin: 12px;
}
/* Animal picture class */
.animalPicture {
    border-radius: 12px;
}
