body {
    font-size: 22px;
}
#map {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
}
.hidingClass {
    display: none;
}
/* Animal picture class */
.animalPicture {
    border-radius: 12px;
}