body {
    margin: 0;
    background-color: #e2e1e0;
}
.wrapper {
    z-index: 2;
    position: absolute;
}

/* Background Styling */

.blur-container{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cat-bg {
    background: url('images/kitty.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.puppy-bg {
    background: url('images/doggo.png')no-repeat 30% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dog-bg {
    background: url('images/puppy.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blur-filter {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Navbar Styling */

img.paw-logo{
    height: 65%;
    position: absolute;
    top: 50%;
    left: .5%;
    transform: translateY(-50%);
}
.navbar, .navbar-default {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}
.navbar.navbar-default {
    background-color: #673ab7;
    border: none;
}
.navbar-default .navbar-nav>li {
    text-transform: uppercase;
    padding: 2% 0;
}
.navbar-default .navbar-nav>li:hover {
    background-color: #3d226c;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ddcaff;
}

/* Animal Selection Screen */

.user-location-and-animal-choice > p {
    font-size: 3.5vmax;
    font-family: 'Baloo Bhaina', Helvetica, sans-serif;
}
.btn.btn-default {
    color: #FFF;
    background-color: #673AB7;
    border-color: #673AB7;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}
.btn.btn-default:hover {
    color: #FFF;
    background-color: #4c2b88;
    border-color: #4c2b88;
    transition-duration: 1s;
}
.search-form {
    position: absolute;
    top: 10vh;
}
.form-control.user-location {
    margin: 2% 0;
    padding: 5%;
    height: 6vh;
    font-size: 2vmax;
}
.button-container {
    width: 100%;
}
.btn.user-location-submit {
    padding: 3% 7%;
    font-family: 'Dosis', Helvetica, sans-serif;
    width: 49%;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    border: none;
}

/* Map Styling */

#map {
    height: 27vh;
    display: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}
.map-section {
    padding: 0;
}
.gm-style-cc {
    display: none;
}
.gm-style .gm-style-iw {
    font-size: 1.8em !important;
    font-weight: 600 !important;
    font-family: 'Dosis', Helvetica, sans-serif !important;
}

/* Next and Previous Shelter Buttons */

.shelter-button {
    margin-top: 1%;
    margin-bottom: 4%; /* Margin shorthand cancels bootstrap offset styling */
    padding: 3% 2%;
}
.btn.btn-danger {
    background-color: #02A8F3;
    border-color: #02A8F3;
}
.btn.btn-danger:hover {
    color: #FFF;
    background-color: #006591;
    border-color: #006591;
    transition-duration: 1s;
}
.btn-danger .danger,.btn-danger.focus, .btn-danger:focus {
    color: #FFF;
    background-color: #006591;
    border-color: #006591;
}

/* Walmart Styling */

.walmart {
    font-family: 'Dosis', Helvetica, sans-serif;
    display: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    height: 5vh;
}
.walmart div{
    background-color: #ffffff;
    background-color: rgba(0,0,0,0);/* rgba values taken from inspector after removing background color property */
    font-size: 1.2em;
    margin-bottom: 10%;
}
.walmart > div {
    height: 25vh;
    margin: 1em auto;
    background-color: rgba(0,0,0,0);
    text-align: center;
}
.walmart-suggestion {
    font-size: 1.5em;
    width: 16em;
    position: fixed;
    left: -1%;
    bottom: 0;
    z-index: 1;
}

/* Pet Card Styling */

.card {
    height: 40vmax;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: white;
    box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.12), 0 0.3em 0.9em rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 0; /* suppresses bootstrap misalignment */
    margin-bottom: 10%;
}
.card:hover {
    box-shadow: 0 0.3em 0.6em rgba(0,0,0,0.25), 0 3em 3em rgba(0,0,0,0.22);/* Increased box shadow for when the user hovers over the card */
}
.card-title {
    font-size: 1.5em;
    font-family: 'Dosis', Helvetica, sans-serif;
    background-color: rgba(43,0,67,.6);
    color: #fff;
    width: 100%;
    text-align: center;
}
.card-media {
    background-size: 100% 100%;
    height: 40vmax;
    display: flex;
    flex-direction: column;
}
.pet-info-extended {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.3em;
    color: #000000;
    background-color: #fff;
    margin: 0 0 5em 0;
    padding: 1em;
    display: none;
    position: absolute;
    z-index: 2;
}
@-webkit-keyframes blink { /* Effect to s */
    0% {
        opacity:1;
    }
    50% {
        opacity:.7;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
.pet-selected {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-direction: alternate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;
}

/* Shelter Contact Information */

.animal-shelter-information, .no-more-animals {
    font-family: Dosis, Helvetica, sans-serif;
    font-size: 3vmax;
    padding: 1%;
    text-align: center;
}
.shelter-legibility {
    background-color: rgba(236,236,255,.6);
    margin-bottom: 3%;
    margin-top: 5%; /* Margin shorthand cancels bootstrap offset styling */
}
.shelter-legibility, .pet-info-extended {
    -webkit-box-shadow: 0 0.3em 0.9em rgba(0,0,0,0.12), 0 0.3em 0.9em rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0.3em 0.9em rgba(0,0,0,0.12), 0 0.3em 0.9em rgba(0,0,0,0.24);
    box-shadow: 0 0.3em 0.9em rgba(0,0,0,0.12), 0 0.3em 0.9em rgba(0,0,0,0.24);
}

/* Media Queries */

@media (orientation: landscape){
    .search-form {
        width: 55vw;
    }
}
@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait){
    .blur-container.puppy-bg {
        background: url('images/doggo.png')no-repeat 30% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (min-width: 767px) and (max-width: 1980px) {
    .card {
        margin-right: 4%;
        margin-left: 4%; /* Margin shorthand cancels Bootstrap offset styling */
    }
    .card, .card-media {
        height: 20vmax;
    }
    .shelter-button {
        padding: 1%;
    }
}
@media (max-width: 600px) {
    .wrapper {
        margin: 0;
        padding: 0;
    }
    .search-form {
        margin-left: 0;
    }
    .user-location-submit {
        padding: 2%;
    }
    #map {
        margin: 0;
        display: none;
        width: 100%;
        height: 22vh;
    }
    .navbar {
        margin-bottom: 0;
    }
    .paw-logo {
        left: 5%;
    }
    .walmart-item {
        width: 62vw;
    }
}
@media (max-width: 750px) and (orientation: landscape){
    #map {
        height: 40vh;
    }
    .search-form {
        margin-left: 0;
    }
    .wrapper {
        padding: 0;
        margin: 0;
    }
    .navbar {
        margin-bottom: 0;
    }
    .card, .card-media {
        height: 65vmax;
    }
}
@media (min-width: 1200px) and (max-width: 1980px) {
    .search-form {
        margin-left: -11%;
    }
}
