body {
    margin: 0;
    background-color: #e2e1e0;
}
.blur-container{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cat-bg {
    background: url('images/kitty.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.puppy-bg {
    background: url('images/doggo.png')no-repeat 30% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dog-bg {
    background: url('images/puppy.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blur-filter {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.container {
    z-index: 2;
    position: absolute;
    top: 30%;
    width: 100%;
}
.userLocationAndAnimalChoice > p {
    font-size: 3.5vmax;
    font-family: 'Baloo Bhaina', Helvetica, sans-serif;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn.btn-default {
    color: #FFF;
    background-color: #673AB7;
    border-color: #673AB7;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}
.btn.btn-default:hover {
    color: #FFF;
    background-color: #4c2b88;
    border-color: #4c2b88;
    transition-duration: 1s;
}
.userLocationAndAnimalChoice {
    margin: 1em auto;
}
/* Nav */
img.pawLogo{
    height: 65%;
    position: absolute;
    top: 50%;
    left: .5%;
    transform: translateY(-50%);
}
.navbar, .navbar-default {
    border-radius: 0;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}
.navbar.navbar-default {
    background-color: #673ab7;
    border: none;
}
.navbar-default .navbar-nav>li {
    text-transform: uppercase;
    padding: 2% 0;
}
.navbar-default .navbar-nav>li:hover {
    background-color: #3d226c;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ddcaff;
}
.compName {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #02a8f3;
}
/* Main */
#map {
    width: 50vw;
    height: 25vw;
    display: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}
.petProfile {
    margin: 5%;
}
.petName {
    font-weight: bold;
    color: #2d165a;
    font-style: italic;
}
.mainContent {
    font-family: 'Dosis', Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
    width: 80vw;
}
/* Next button */
.nextButton .previousButton {
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    width: 30vw;
    padding: 2%;
    margin: 2em;
    text-transform: uppercase;
}
.btn.btn-danger {
    background-color: #02A8F3;
    border-color: #02A8F3;
    margin-bottom: 3%;
}
.btn.btn-danger:hover {
    color: #FFF;
    background-color: #006591;
    border-color: #006591;
    transition-duration: 1s;
}
.btn-danger .danger,.btn-danger.focus, .btn-danger:focus {
    color: #FFF;
    background-color: #006591;
    border-color: #006591;
}
/* Heart */
.heartContainer {
    background-color: #2F3E9E;
    border-radius: 4px;
    height: 5vw;
    position: relative;
    padding: 2% 4%;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}
.heartContainer:hover {
    background-color: #e91e63;
}
.heartContainer > img {
    width: 3.5vw;
    position: absolute;
    top: 18%;
    left: 46%;
}

/* Animal picture class */
.animalPicture {
    display: inline;
    margin: 0 auto;
    width: 140%;
}
.imgContainer {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.75);
}
/* Styling for search bar input */
.form-control.userLocation {
    margin: 2% 0;
    padding: 5%;
    font-size: 2vmax;
}
.buttonContainer {
    width: 100%;
}

.btn.userLocationSubmit {
    padding: 3% 7%;
    font-family: 'Dosis', Helvetica, sans-serif;
    width: 49%;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    border: none;
}
/* Walmart styles */
.walmart{
    font-family: 'Dosis', Helvetica, sans-serif;
}
.walmart div{
    display: inline-block;
    background-color: #ffffff;
    margin-top: 12px;
}
.walmart.img{
    width: 50%;
    height: 50%;
}
.gm-style-cc {
    display: none;
}

.walmart > div {
    width: 25vw;
    height: 25vh;
    margin: 1em auto;
}
.thumbnail {
    height: 200px;
    width: 200px;
}

.card {
    font-family: Roboto, Helvetica, sans-serif;
    width: 25em;
    height: 25em;
    color: #FAFAFA;
    background-color: white;
    box-shadow: 0 0.3em 0.9em rgba(0,0,0,0.12), 0 0.3em 0.9em rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 1em;
    display: inline-block;
    border-radius: 0.75em;
    vertical-align: top;
    padding-left: 0px; /*Suppresses bootstrap misaligning the images*/

}
/* Increased box shadow for when the user hovers over the card */
.card:hover {
    box-shadow: 0 0.3em 0.6em rgba(0,0,0,0.25), 0 3em 3em rgba(0,0,0,0.22);
}
.cardTitle {
    font-size: 2em;
    font-family: Roboto, Helvetica, sans-serif;
    margin-left: 1em;
    margin-bottom: 1em;
}
.cardSubHead {
    font-family: Roboto,sans-serif;
    font-size: 1.5em;
    padding-left: 0.1em;
}
.cardMedia {
    background-size: 100% 100%;
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-top-left-radius: 0.75em;*/
    /*border-top-right-radius: 0.75em;*/
    border-radius: 0.75em;
}
i.material-icons.likeIcon {
    color: #2F3E9E;
    font-size: 48px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    align-self: center;
}
i.material-icons.likeIcon:hover {
    color: #E91E63;
    cursor: pointer;
}
/*Styling for the material icons. Taken from google.github.io/material-design-icons/ */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.animalShelterInformation {
    font-family: Dosis, sans-serif;
    font-size: 4vmax;
    text-align: center;
}
.petInfoExtended {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1em;
    width: 25em;
    color: black;
    background-color: white;
    box-shadow: 0 0.3em 0.9em rgba(0,0,0,0.12), 0 0.3em 0.9em rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0em 0em 1em 0em;
    padding: 1em;
    display: none;
    border-radius: 0.75em;
    position: absolute;
}
/* Next and previous shelter buttons*/
.shelterButton {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    /*width: 10vw;*/
    /*height: 5vh;*/
    /*font-size: 1vh;*/

}
.animalCards > div {
    margin: 1em;
}


.walmart {
    display: none;
}
@media (orientation: landscape){
    .container {
        width: 75vw;
    }
}
@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait){
    .blur-container.puppy-bg {
        background: url('images/doggo.png')no-repeat 30% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (max-width: 600px) {
    .container {
        margin: 0;
    }
    .userLocationSubmit {
        padding: 2%;
    }
    #map {
        border-radius: 0;
        margin: 0;
        display: none;
        width: 100%;
        height: 20vh;
    }
    .navbar {
        margin-bottom: 0;
    }
    .pawLogo {
        left: 5%;
    }
}


/*
These media queries appear unnecessary, but I would appreciate confirmation before deleting them.
*/
/*@media (max-width: 768px) {*/
    /*.animalShelterInformation {*/
        /*font-size: 1.75em;*/
    /*}*/
    /*.shelterButton {*/
        /*font-size: 1.50em;*/
    /*}*/
/*}*/
/*@media (min-width: 992px), (max-width: 991px) and (min-width: 768px) {*/
    /*.animalShelterInformation {*/
        /*font-size: 1.75em;*/
    /*}*/
    /*.shelterButton {*/
        /*font-size: 1.50em;*/
    /*}*/
/*}*/
/*@media (max-width: 991px) and (min-width: 768px) {*/
    /*.animalShelterInformation {*/
        /*font-size: 1.75em;*/
    /*}*/
    /*.shelterButton {*/
        /*font-size: 1.50em;*/
    /*}*/
/*}*/